.home {
    background-color: rgb(251, 214, 174);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContent{
    padding-top: 50px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.homeAbout {
    display: flex;
    flex-direction: column;
}

.homeImage{
    border-radius: 20px;
    height: 400px;
    background-color: white;
    width: 40%;
}

.homeButtons{
    display: flex;
}

.homeButton{
    margin-right: 20px;
    border: none;
    background-color: rgb(255, 102, 0);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
}

.signUp {
    background-color: rgba(128, 128, 128, 0.716);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    background-color: white;
}

.signUp form {
    display: flex;
    flex-direction: column;
}

.signUpButton, .addPlaceButton {
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(255, 119, 0);
    color: white;
}

.signUpPlace {
    background-color: rgba(128, 128, 128, 0.716);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUpPlaceContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    width: 30%;
    background-color: white;
}

.signUpPlace form {
    display: flex;
    flex-direction: column;
}